@import "decidim/application";
@import "./decidim";

#endorsements-count-only{
  a.button--shadow{
    margin-bottom: 0;
  }
}

.topbar__conversations, a[href^="/conversations"]{
  display: none;
}

.main-footer .footer-nav{
  a[href="/open-data/download"] {
    display: none;
  }
}

.filters-scope-texts {
  .picker-values {
    display: none;
  }
}
