<span class="exports dropdown amendments tiny button button--simple" data-toggle="export-amendments-dropdown"><%= t "actions.export_amendments.title", scope: "decidim" %></span>
<div class="dropdown-pane" id="export-amendments-dropdown" data-dropdown data-position=bottom data-alignment=right data-auto-focus="true" data-close-on-click="true">
  <ul class="vertical menu add-components">
    <li class="exports--amendments">
      <%= link_to t('actions.export_amendments.all_scopes', scope: 'decidim'),
                    Rails.application.routes.url_helpers.amendment_exports_path(params[:participatory_process_slug] || params[:assembly_slug],
                    params[:component_id]),
                    method: :post %>
    </li>
    <% scopes.each do |scope| %>
      <li class="exports--amendments--scope">
       <%= link_to t("actions.export_amendments.scopes", scope: "decidim", scope_name: scope.name.values.first),
                    Rails.application.routes.url_helpers.amendment_exports_path(params[:participatory_process_slug] || params[:assembly_slug],
                    params[:component_id],
                    scope.id),
                    method: :post %>
      </li>
    <% end %>
  </ul>
</div>
